<div class="footer-container">

  <button [routerLink]="'/challenges'" mat-button>
    <img src="./assets/icon-challenge.svg" />
    Challenges
  </button>
  <button [routerLink]="'/trivia'" mat-button>
    <img src="./assets/icon-trivia.svg" />
    Trivia
  </button>
  <button [routerLink]="'/polls'" mat-button>
    <img src="./assets/icon-polls.svg" />
    Polls
  </button>
  <button [routerLink]="['/profile', userId]" mat-button>
    <img src="./assets/icon-profile.svg" />
    Profile
  </button>
</div>
